.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.smooth-link {
  text-decoration: none;
  color: #333; /* Standard color */
  transition: color 2s ease, font-style 2s ease; /* Slower and smoother transition */
}

.smooth-link:hover {
  color: #666; /* Color change on hover */
  font-style: italic; /* Italics on hover */
}
