.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.smooth-link {
  text-decoration: none;
  color: #333; /* Standard color */
  font-style: normal; /* Start with normal font style */
}

.italic {
  font-style: italic; /* Italics font style */
}
